.bd-callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border-top: 6px solid #5bc0de;
}

.bd-callout-warning {
	border-left-color: #f0ad4e;
}

.bd-callout-info {
	border-left-color: #5bc0de;
}

.bd-callout-danger {
	border-left-color: #d9534f;
}

.ui-menu .ui-menu-item a {
    font-size: 12px;
}

.ui-helper-hidden-accessible { display: none; }

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 4;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete:hover {
	color: #6e707e;
	background-color: #fff;
	border-color: #bac8f3;
	outline: 0;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-menu .ui-menu-item div {
    padding-left: 10px;
}

.ui-menu {
    padding: 0 !important;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

form span i {
	position: absolute !important;
	top: 10px !important;
	right: 11px !important;
}

.addformrow span i {
    right: 55px !important;
}

.selectformrow span i {
    right: 35px !important;
}

.popover-body ul {
    padding-left: 12px;
    margin-bottom: 0;
}

/*
* AUTH
*/

#registration .card, #login .card, #forgot .card, #emailSent .card, #validationForgot .card {
    background: transparent;
    width: 400px;
    border-radius: 25px;
    border-color: transparent;
}

@media screen and (max-width: 420px){
    #registration .card, #login .card, #forgot .card, #emailSent .card, #validationForgot .card {
        width: 80%;
    }
}

#registration input, #login input, #forgot input, #validationForgot input {
    background: transparent;
    height: 40px;
    border-radius: 0;
    border-color: #000000;
    box-shadow: unset;
    color: #000000;
}

#login .form-check input {
    height: auto;
}

#emailSent .card-body {
    padding: 20px;
    height: max-content;
    background: #ffffff;
    border-radius: 25px;
}

/*
* DASHBOARD
*/

#settings .card-listuser {
    padding: 20px;
}

#settings .wrapper-form, #profile .wrapper-form {
    width: 400px;
    margin:auto;
}

@media screen and (max-width: 1050px){
    #settings .wrapper-form, #profile .wrapper-form {
        width: 80%;
    }
}

#settings .userManagement {
    margin-top: 100px !important;
    width: 85%;
}

#platforms .input-group-btn {
    top: unset;
    right: unset;
}

#platforms .btn-file {
    position: relative;
    overflow: hidden;
    border: 1px solid #d1d3e2 !important;
    background-color: #fff !important;
    top: unset;
    right: unset;
}

#platforms #filename {
    padding-left: 70px;
}

#platforms .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#createReport .cm, #editReport .cm, #createTemplate .cm, #editTemplate .cm {
    overflow: scroll;
}

#createReport .btndiv, #editReport .btndiv, #createTemplate .btndiv, #editTemplate .btndiv {
    width: 60%; 
    margin-top: 60px !important;
}